torch==1.11.*
numpy>=1.21
pandas==1.0.*
matplotlib==3.2.*
scipy==1.6.*
tqdm==4.47.0
scikit-image==0.16.*
numba==0.53.*
seaborn==0.11.*
scikit-learn==0.24.2
statsmodels==0.12.*
functorch==0.1.*
torchtyping
h5py
regex
black
pyflakes
